.fp-section {
  outline: 0 !important;
  border: 0;
}

.section .wf-section .fp-section .fp-table .fp-is-overflow .active .fp-completely {
  outline: 0 !important;
  border: 0;
}
.section .wf-section .fp-section .fp-table .fp-is-overflow .fp-completely {
  outline: 0 !important;
  border: 0;
}

.section-fullpage {
  outline: 0 !important;
  border: 0;
}
.fp-overflow {
  outline: 0 !important;
  border: 0;
}
